body {
  font-family:sans-serif;
  background-color: #121212;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0;
  min-height: 100vh;
}

button#connectBtn {
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
  background-color: #2979ff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

button#connectBtn:hover {
  background-color: #5393ff;
}

.stats {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.stats h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  min-width: 110px;
  text-align: center;
  background: #222;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 255);
}